/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        jk_apostrophe {
            bindings = <&kp APOS>;
            key-positions = <19 20>;
            slow-release;
        };
    };

    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <270>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <230>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q               &kp W           &kp E           &kp R             &kp T        &kp Y    &kp U              &kp I            &kp O            &kp P                        &none
&none  &hm LEFT_CONTROL A  &hm LEFT_ALT S  &hm LEFT_GUI D  &hm LEFT_SHIFT F  &kp G        &kp H    &hm RIGHT_SHIFT J  &hm RIGHT_GUI K  &hm RIGHT_ALT L  &hm RIGHT_CONTROL SEMICOLON  &none
&none  &kp Z               &kp X           &kp C           &kp V             &kp B        &kp N    &kp M              &kp COMMA        &kp DOT          &kp FSLH                     &none
                                           &kp ESCAPE      &lt 2 BACKSPACE   &lt 3 TAB    &kp RET  &lt 1 SPACE        &kp RALT
            >;
        };

        sym_left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |BTCLR|     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp GRAVE  &kp AMPS   &kp ASTRK  &kp PERCENT     &trans        &trans  &trans  &trans  &trans  &trans  &none
&none  &kp EQUAL  &kp CARET  &kp MINUS  &kp UNDERSCORE  &kp DOLLAR    &trans  &trans  &trans  &trans  &trans  &none
&none  &kp TILDE  &kp EXCL   &kp AT     &kp HASH        &trans        &trans  &trans  &trans  &trans  &trans  &none
                             &trans     &trans          &trans        &trans  &trans  &trans
            >;
        };

        sym_right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |RGBEFF|RGBTOG|     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &kp CARET      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PLUS           &kp PIPE       &none
&none  &trans  &trans  &trans  &trans  &trans    &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOUBLE_QUOTES  &kp SQT        &none
&none  &trans  &trans  &trans  &trans  &trans    &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN   &kp BACKSLASH  &none
                       &trans  &trans  &trans    &trans         &trans                &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans         &trans       &trans     &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN       &kp UP       &kp RIGHT  &kp CAPS  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &kp INS   &trans
                        &trans  &trans  &trans    &trans          &trans         &trans
            >;
        };

        fun {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
